/* -- vars.scss START -- */
/*Config file - all variable and config for project*/

/*asset paths - base path for image and font files*/
$ute-path-img:                "/web/totes/cms/content/ute/rogers/eclipse/resources/images/brand/rogers";
$ute-path-font:               "../fonts/brand/rogers";

/*Base Setting*/
$ute-font:                    tednext, sans-serif !default;
$ute-font-weight-light:       300 !default;
$ute-font-weight-regular:     normal !default;
$ute-font-weight-semibold:    600 !default;
$ute-font-weight-heavy:       900 !default;
$ute-font-line-height:        1.4 !default;
$ute-font-line-height-2:      1.6 !default;
$ute-font-size-base:          1.6rem !default;
$ute-font-size-base-mobile:   1.6rem !default;

$ute-font-size-h1:            3.2rem !default;// 32px
$ute-font-size-h2:            2.5rem !default;// 25px
$ute-font-size-h3:            2.6rem !default;// 26px
$ute-font-size-h4:            1.8rem !default;// 18px
$ute-font-size-h5:            1.8rem !default;// 18px
$ute-font-size-h6:            1.8rem !default;// 18px

$ute-font-size-h1-mobile:     3.2rem !default;// 32px
$ute-font-size-h2-mobile:     2.1rem !default;// 21px
$ute-font-size-h3-mobile:     2.1rem !default;// 21px
$ute-font-size-h4-mobile:     1.8rem !default;// 18px
$ute-font-size-h5-mobile:     1.8rem !default;// 18px
$ute-font-size-h6-mobile:     1.8rem !default;// 18px

$ute-font-size-copy-1:        1.8rem !default;// 18px
$ute-font-size-copy-2:        1.6rem !default;// 16px
$ute-font-size-copy-3:        1.4rem !default;// 14px
$ute-font-size-copy-4:        1.2rem !default;// 12px
$ute-font-size-copy-5:        1.6rem !default;// 14px
$ute-font-size-copy-6:        1.2rem !default;// 12px
$ute-font-size-copy-7:        1.1rem !default;// 11px
$ute-font-size-copy-8:        1.0rem !default;// 10px

$ute-font-size-copy-1-mobile: 1.8rem !default;// 18px
$ute-font-size-copy-2-mobile: 1.6rem !default;// 16px
$ute-font-size-copy-3-mobile: 1.6rem !default;// 16px
$ute-font-size-copy-4-mobile: 1.6rem !default;// 16px
$ute-font-size-copy-5-mobile: 1.4rem !default;// 14px
$ute-font-size-copy-6-mobile: 1.2rem !default;// 12px
$ute-font-size-copy-7-mobile: 1.1rem !default;// 12px
$ute-font-size-copy-8-mobile: 1.0rem !default;// 12px

/*Colors*/
//pallet colors
$ute-color-1:                 rgba(218,41,28,1);    // #da291c - red
$ute-color-2:                 rgba(0, 174, 199, 1); // #00AEC7 - teal blue
$ute-color-3:                 rgba(255,192,63,1);   // #ffc03f - Yellow
$ute-color-4:                 rgba(65, 65, 67, 1);  // #414143 - Dark Gray
$ute-color-5:                 rgba(104,202,218,1);  // #68cada - Medium Aqua
$ute-color-6:                 rgba(187,228,236,1);  // #bbe4ec - Light Aquate-
$ute-color-7:                 rgba(255,212,144,1);  // #ffd490 - Medius Yellow
$ute-color-8:                 rgba(255,233,199,1);  // #bbbdc0 - Light Yellow
$ute-color-9:                 rgba(128,130,132,1);  // #808284 - Medium Gray
$ute-color-10:                rgba(187,189,192,1);  // #bbbdc0 - Light Gray
$ute-color-11:                rgba(238,238,238,1);  // #eeeeee - Lighter Gray
$ute-color-12:                rgba(240,242,245,1);  // #f0f2f5 - Offwhite
$ute-color-13:                rgba(10,84,152,1);    // #0a5498 - Hyperlink Blue
$ute-color-14:                rgba(218,41,28,1);    // #da291c - Links with Chevrons - Red
$ute-color-15:                rgba(65,64,66,1);     // #414042 - Links with Chevrons - Dark Gray
$ute-color-16:                rgba(0,150,94,1);     // #00985f - Success Greens
$ute-color-17:                rgba(255,191,63,1);   // #ffbf3f - Yellow warning
$ute-color-18:                rgba(0, 174, 199, 1); // #00a0b7 - Rogers Aqua
$ute-color-19:                rgba(0,160,183,1);    // #da291c - Red Error
$ute-color-20:                rgba(255,255,255,1);  // #da291c - white Error
$ute-color-21:                rgba(0,152,95,1);     // #00965e - Chart Line
$ute-color-22:                rgba(255,191,63,1);   // #FFBF3F - Chart Line over
$ute-color-24:                rgba(0,174,199,1);    // #00AEC7 - Chart division
$ute-color-23:                #d9d9d9;  // #d9d9d9 - Lightest Gray

/* -- vars.scss END -- */